// start colors
/*
*
* Base16 Tokyo Night Custom
* Author: and-rs
*
*/

$base00: #07090d;
$base01: #090b11;
$base02: #121520;
$base03: #475070;
$base04: #5f7299;
$base05: #acb0d0;
$base06: #bdc0d0;
$base07: #fefefe;
$base08: #f7768e;
$base09: #eda987;
$base0A: #e0af68;
$base0B: #9ece6a;
$base0C: #4abaaf;
$base0D: #7aa2f7;
$base0E: #bb9af7;
$base0F: #9a7ecc;
// end colors

$surface-strongest: $base00;
$surface-strong: $base01;
$surface-moderate: $base02;
$surface-weak: $base01;
$surface-weakest: $base04;

$white-strongest: rgb(255, 255, 255);
$white-strong: rgba(255, 255, 255, 0.87);
$white-moderate: rgba(255, 255, 255, 0.34);
$white-weak: rgba(255, 255, 255, 0.14);
$white-weakest: rgba(255, 255, 255, 0.06);

$black-strongest: rgb(0, 0, 0);
$black-strong: rgba(0, 0, 0, 0.87);
$black-moderate: rgba(0, 0, 0, 0.42);
$black-weak: rgba(0, 0, 0, 0.15);
$black-weakest: rgba(0, 0, 0, 0.06);

$red-normal: $base08;
$red-light: $base08;
$orange-normal: $base09;
$orange-light: $base09;
$yellow-normal: $base0A;
$yellow-light: $base0A;
$green-normal: $base0B;
$green-light: $base0B;
$cyan-normal: $base0C;
$cyan-light: $base0C;
$blue-normal: $base0D;
$blue-light: $base0D;
$purple-normal: $base0E;
$purple-light: $base0E;
$pink-normal: $base0F;
$pink-light: $base0F;

$accent-primary: $base03;
$accent-secondary: $base03;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-strong};
