// start colors
/*
*
* Base16 Material Darker
* Author: Nate Peterson
*
*/

$base00: #212121;
$base01: #303030;
$base02: #353535;
$base03: #4a4a4a;
$base04: #b2ccd6;
$base05: #eeffff;
$base06: #eeffff;
$base07: #ffffff;
$base08: #f07178;
$base09: #f78c6c;
$base0A: #ffcb6b;
$base0B: #c3e88d;
$base0C: #89ddff;
$base0D: #82aaff;
$base0E: #c792ea;
$base0F: #ff5370;
// end colors

$surface-strongest: $base00;
$surface-strong: $base01;
$surface-moderate: $base02;
$surface-weak: $base01;
$surface-weakest: $base04;

$white-strongest: rgb(255, 255, 255);
$white-strong: rgba(255, 255, 255, 0.87);
$white-moderate: rgba(255, 255, 255, 0.34);
$white-weak: rgba(255, 255, 255, 0.14);
$white-weakest: rgba(255, 255, 255, 0.06);

$black-strongest: rgb(0, 0, 0);
$black-strong: rgba(0, 0, 0, 0.87);
$black-moderate: rgba(0, 0, 0, 0.42);
$black-weak: rgba(0, 0, 0, 0.15);
$black-weakest: rgba(0, 0, 0, 0.06);

$red-normal: $base08;
$red-light: $base08;
$orange-normal: $base09;
$orange-light: $base09;
$yellow-normal: $base0A;
$yellow-light: $base0A;
$green-normal: $base0B;
$green-light: $base0B;
$cyan-normal: $base0C;
$cyan-light: $base0C;
$blue-normal: $base0D;
$blue-light: $base0D;
$purple-normal: $base0E;
$purple-light: $base0E;
$pink-normal: $base0F;
$pink-light: $base0F;

$accent-primary: $base03;
$accent-secondary: $base03;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-strong};
