// start colors
/*
*
* Base16 Marble Dark
* Author: Aylur
*
*/

$base00: #151519;
$base01: #212127;
$base02: #2a2a31;
$base03: #373741;
$base04: #4f4f5e;
$base05: #b2b5b3;
$base06: #eaeaea;
$base07: #e7e7e7;
$base08: #e55f86;
$base09: #ff985a;
$base0A: #ebff71;
$base0B: #00d787;
$base0C: #50e6e6;
$base0D: #50a4e7;
$base0E: #9076e7;
$base0F: #e781d6;
// end colors

$surface-strongest: $base00;
$surface-strong: $base01;
$surface-moderate: $base02;
$surface-weak: $base01;
$surface-weakest: $base04;

$white-strongest: rgb(255, 255, 255);
$white-strong: rgba(255, 255, 255, 0.87);
$white-moderate: rgba(255, 255, 255, 0.34);
$white-weak: rgba(255, 255, 255, 0.14);
$white-weakest: rgba(255, 255, 255, 0.06);

$black-strongest: rgb(0, 0, 0);
$black-strong: rgba(0, 0, 0, 0.87);
$black-moderate: rgba(0, 0, 0, 0.42);
$black-weak: rgba(0, 0, 0, 0.15);
$black-weakest: rgba(0, 0, 0, 0.06);

$red-normal: $base08;
$red-light: $base08;
$orange-normal: $base09;
$orange-light: $base09;
$yellow-normal: $base0A;
$yellow-light: $base0A;
$green-normal: $base0B;
$green-light: $base0B;
$cyan-normal: $base0C;
$cyan-light: $base0C;
$blue-normal: $base0D;
$blue-light: $base0D;
$purple-normal: $base0E;
$purple-light: $base0E;
$pink-normal: $base0F;
$pink-light: $base0F;

$accent-primary: $base03;
$accent-secondary: $base03;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-strong};
