window {
    background: #{{base00-hex}};        /* base00 */
    border-color: #{{base02-hex}};      /* base02 */
}

button,
image {
    color: #{{base07-hex}};             /* base07 */
}

button {
    color: #{{base05-hex}};             /* base05 */
}

button:hover {
    background-color: #{{base02-hex}};  /* base02 */
}
