window {
    background: rgba({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 0.55);        /* base01 */
    border-color: rgba({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}, 0.15);      /* base02 */
}

button,
image {
    color: #{{base07-hex}};             /* base07 */
}

button {
    color: #{{base05-hex}};             /* base05 */
}

button:hover {
    background-color: #{{base02-hex}};  /* base02 */
}
