# Base16 {{scheme-name}}
# Author: {{scheme-author}}

$base00 = rgb({{base00-hex}})
$base01 = rgb({{base01-hex}})
$base02 = rgb({{base02-hex}})
$base03 = rgb({{base03-hex}})
$base04 = rgb({{base04-hex}})
$base05 = rgb({{base05-hex}})
$base06 = rgb({{base06-hex}})
$base07 = rgb({{base07-hex}})
$base08 = rgb({{base08-hex}})
$base09 = rgb({{base09-hex}})
$base0A = rgb({{base0A-hex}})
$base0B = rgb({{base0B-hex}})
$base0C = rgb({{base0C-hex}})
$base0D = rgb({{base0D-hex}})
$base0E = rgb({{base0E-hex}})
$base0F = rgb({{base0F-hex}})

$base00a = rgba({{base00-hex}}aa)
$base01a = rgba({{base01-hex}}aa)
$base02a = rgba({{base02-hex}}aa)
$base03a = rgba({{base03-hex}}aa)
$base04a = rgba({{base04-hex}}aa)
$base05a = rgba({{base05-hex}}aa)
$base06a = rgba({{base06-hex}}aa)
$base07a = rgba({{base07-hex}}aa)
$base08a = rgba({{base08-hex}}aa)
$base09a = rgba({{base09-hex}}aa)
$base0Aa = rgba({{base0A-hex}}aa)
$base0Ba = rgba({{base0B-hex}}aa)
$base0Ca = rgba({{base0C-hex}}aa)
$base0Da = rgba({{base0D-hex}}aa)
$base0Ea = rgba({{base0E-hex}}aa)
$base0Fa = rgba({{base0F-hex}}aa)
