#
#
# Base16 {{scheme-name}}
# Author: {{scheme-author}}
#
#

background-color='#{{base00-hex}}'
osd-back-color='#{{base01-hex}}'
osd-border-color='#{{base01-hex}}'
osd-color='#{{base05-hex}}'
osd-shadow-color='#{{base00-hex}}'
