.Leader {
    stroke-width: 0.5 !important;
    stroke: #121212;
    fill: none !important;
}

.Button {
    stroke-width: 0.25;
    stroke: white;
    fill: white;
}

.Ring {
    stroke-width: 0.5 !important;
    stroke: #121212 !important;
    fill: none !important;
}

.Label {
    stroke: none !important;
    stroke-width: 0.1 !important;
    font-size: 0.1 !important;
    fill: transparent !important;
}

.TouchStrip,
.TouchRing {
    stroke-width: 0.1 !important;
    stroke: white !important;
    fill: #121212 !important;
}
