:root {
    /* The main accent color and the matching text value */
    --adw-accent-bg-hex: #{{base0F-hex}} !important;
    --adw-accent-fg-hex: #{{base00-hex}} !important;
    --adw-accent-hex: #{{base0F-hex}} !important;

    /* destructive-action buttons */
    --adw-destructive-bg-hex: #{{base08-hex}} !important;
    --adw-destructive-fg-hex: #{{base05-hex}} !important;
    --adw-destructive-hex: #{{base08-hex}} !important;

    /* Levelbars, entries, labels and infobars. These don't need text colors */
    --adw-success-bg-hex: #{{base0B-hex}} !important;
    --adw-success-fg-hex: #{{base01-hex}} !important;
    --adw-success-hex: #{{base0B-hex}} !important;

    --adw-warning-bg-hex: #{{base0A-hex}} !important;
    --adw-warning-fg-hex: #{{base00-hex}} !important;
    --adw-warning-fg-a: 0.8 !important;
    --adw-warning-hex: #{{base0A-hex}} !important;

    --adw-error-bg-hex: #{{base08-hex}} !important;
    --adw-error-fg-hex: #{{base01-hex}} !important;
    --adw-error-hex: #{{base08-hex}} !important;

    /* Window */
    --adw-window-bg-hex: #{{base00-hex}} !important;
    --adw-window-fg-hex: #{{base05-hex}} !important;

    /* Views - e.g. text view or tree view */
    --adw-view-bg-hex: #{{base01-hex}} !important;
    --adw-view-fg-hex: #{{base05-hex}} !important;

    /* Header bar, search bar, tab bar */
    --adw-headerbar-bg-hex: #{{base00-hex}} !important;
    --adw-headerbar-fg-hex: #{{base05-hex}} !important;
    --adw-headerbar-border-hex: #{{base02-hex}} !important;
    --adw-headerbar-backdrop-hex: #{{base01-hex}} !important;
    --adw-headerbar-shade-hex: 0, 0, 0 !important;
    --adw-headerbar-shade-a: 0.36 !important;
    --adw-headerbar-darker-shade-hex: 0, 0, 0 !important;
    --adw-headerbar-darker-shade-a: 0.9 !important;

    /* Split pane views */
    --adw-sidebar-bg-hex: #{{base00-hex}} !important;
    --adw-sidebar-fg-hex: #{{base05-hex}} !important;
    --adw-sidebar-backdrop-hex: #{{base02-hex}} !important;
    --adw-sidebar-shade-hex: 0, 0, 0 !important;
    --adw-sidebar-shade-a: 0.36 !important;

    --adw-secondary-sidebar-bg-hex: #{{base00-hex}} !important;
    --adw-secondary-sidebar-fg-hex: #{{base05-hex}} !important;
    --adw-secondary-sidebar-backdrop-hex: #{{base02-hex}} !important;
    --adw-secondary-sidebar-shade-hex: 0, 0, 0 !important;
    --adw-secondary-sidebar-shade-a: 0.36 !important;

    /* Cards, boxed lists */
    --adw-card-bg-hex: 255, 255, 255 !important;
    --adw-card-bg-a: 0.08 !important;
    --adw-card-fg-hex: 255, 255, 255 !important;
    --adw-card-shade-hex: 0, 0, 0 !important;
    --adw-card-shade-a: 0.36 !important;

    /* Dialogs */
    --adw-dialog-bg-hex: #{{base01-hex}} !important;
    --adw-dialog-fg-hex: #{{base05-hex}} !important;

    /* Popovers */
    --adw-popover-bg-hex: #{{base01-hex}} !important;
    --adw-popover-fg-hex: #{{base05-hex}} !important;

    /* Thumbnails */
    --adw-thumbnail-bg-hex: #{{base01-hex}} !important;
    --adw-popover-fg-hex: #{{base05-hex}} !important;

    /* Miscellaneous */
    --adw-shade-hex: 0, 0, 0 !important;
    --adw-shade-a: 0.36 !important;
}
