background-color=#{{base01-hex}}
border-color=#{{base02-hex}}
text-color=#{{base06-hex}}
[urgency=low]
border-color=#{{base02-hex}}
text-color=#{{base05-hex}}
[urgency=normal]
border-color=#{{base02-hex}}
[urgency=high]
background-color=#{{base01-hex}}
border-color=#{{base08-hex}}
text-color=#{{base08-hex}}
default-timeout=0
