:root {
    --font: "ZedMono Nerd Font Mono";
    --font-code: "ZedMono Nerd Font Mono";

    --base00: #0a0a0a;
    --base01: #0d0d0d;
    --base02: #111111;
    --base03: #393939;
    --base04: #767676;
    --base05: #e9e4e4;
    --base06: #bfbfbf;
    --base07: #cacaca;
    --base08: #b86467;
    --base09: #dabd8d;
    --base0A: #aca98a;
    --base0B: #8d987e;
    --base0C: #8ba8a4;
    --base0D: #8ea5ba;
    --base0E: #ab89b2;
    --base0F: #ac8aac;

    --base00: #151515;
    --base01: #202020;
    --base02: #303030;
    --base03: #505050;
    --base04: #b0b0b0;
    --base05: #dcdfe0;
    --base06: #e0e0e0;
    --base07: #f5f5f5;
    --base08: #b86467;
    --base09: #dabd8d;
    --base0A: #aca98a;
    --base0B: #8d987e;
    --base0C: #8ba8a4;
    --base0D: #8ea5ba;
    --base0E: #ab89b2;
    --base0F: #ac8aac;

}
