* {
    letter-spacing: -1px !important;
    font-weight: 900 !important;
}

:root {
    --font: "Dank Mono";
    --font-primary: var(--font);
    --font-header: var(--font);
    --font-display: var(--font);
    --font-code: "Dank Mono";
}

* { 
    font-weight: bold !important;
}