
:root {
    --font: "Rethink Sans";
    --font-primary: var(--font);
    --font-header: var(--font);
    --font-display: var(--font);
    --font-code: "JetBrainsMono Nerd Font Propo";
}

._752971923a1e6683-markup em {
    font-style: normal;
}

div[class*="numberBadge"],
div[class*="textBadge"],
div[class*="guildBadge"] {
    color: var(--base05) !important;
}