:root {
    --font: "Iosevka";
    --font-primary: var(--font);
    --font-header: var(--font);
    --font-display: var(--font);
    --font-code: "Iosevka Nerd Font Propo";
}

div[class*=-micButtonParent] {
  button[role="switch"] {
    border-radius: var(--radius-sm) !important;
    ~ button {
      display: none;
    }
  }
}
