/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #160d20;
    --color01: #9B2463;
    --color02: #CB2D5F;
    --color03: #A15159;
    --color04: #E55A62;
    --color05: #F6AC67;
    --color06: #394E8D;
    --color07: #c4c2c7;
    --color08: #665d71;
    --color09: #d64f96;
    --color10: #e27c9c;
    --color11: #c79196;
    --color12: #f3b2b6;
    --color13: #fce1c7;
    --color14: #6980c3;
    --color15: #f7f7f8;
}
