[base]
text                = {{base05-hex}}
subtext             = {{base04-hex}}
main                = {{base00-hex}}
highlight           = {{base07-hex}}
misc                = {{base03-hex}}
notification        = {{base02-hex}}
notification-error  = {{base08-hex}}
shadow              = {{base01-hex}}
card                = {{base00-hex}}
player              = {{base00-hex}}
sidebar             = {{base01-hex}}
main-elevated       = {{base01-hex}}
selected-row        = {{base03-hex}}
button              = {{base03-hex}}
button-active       = {{base09-hex}}
button-disabled     = {{base02-hex}}
