window {
    background: #16161b;        /* base00 */
    border-color: #2a2a31;      /* base02 */
}

button,
image {
    color: #67677b;             /* base07 */
}

button {
    color: #9595ae;             /* base05 */
}

button:hover {
    background-color: #2a2a31;  /* base02 */
}