window {
    background: rgba(19, 21, 21, 0.90); /* base01 */
    border: 2px solid rgba(24, 26, 26, 0.90);
}

button,
image {
    color: #F1E4C2; /* base07 */
}

button {
    color: #e5d5b1; /* base05 */
    padding: 3px;
}

button:hover {
    background-color: rgba(57, 57, 57, 0.5); /* base02 */
}
