window {
    background: #07090D; /* base01 */
    border-color: #121520; /* base02 */
    border: 2px solid #121520;
}

button,
image {
    color: #c8cade; /* base07 */
}

button {
    color: #acb0d0; /* base05 */
    padding: 3px;
}

button:hover {
    background-color: rgba(18, 21, 32, 0.5); /* base02 */
}
