window {
    background: #131318; /* base01 */
    border-color: #2a292f; /* base02 */
    border: 2px solid #2a292f;
}

button,
image {
    color: #e1e0f9; /* base07 */
}

button {
    color: #e1e0ff; /* base05 */
    padding: 3px;
}

button:hover {
    background-color: rgba(42, 41, 47, 0.5); /* base02 */
}
