window {
    background: rgba(22, 22, 22, 0.90); /* base01 */
    border: 2px solid rgba(33, 33, 33, 0.90);
}

button,
image {
    color: #E9E9E9; /* base07 */
}

button {
    color: #959595; /* base05 */
    padding: 3px;
}

button:hover {
    background-color: rgba(33, 33, 33, 0.5); /* base02 */
}
