window {
    background: rgba(25, 23, 36, 0.55);        /* base01 */
    border-color: rgba(31, 29, 46, 0.15);      /* base02 */
}

button,
image {
    color: #524f67;             /* base07 */
}

button {
    color: #e0def4;             /* base05 */
}

button:hover {
    background-color: #26233a;  /* base02 */
}