window {
    background: #161616; /* base01 */
    border-color: #212121; /* base02 */
    border: 2px solid #212121;
}

button,
image {
    color: #E9E9E9; /* base07 */
}

button {
    color: #959595; /* base05 */
    padding: 3px;
}

button:hover {
    background-color: rgba(33, 33, 33, 0.5); /* base02 */
}
