@import url("./colors.css");

window {
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
}

#box {
    padding: 6px;
}

button,
image {
    background: none;
    border-style: none;
    box-shadow: none;
}

button {
    padding: 5px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    font-size: 18px;
}

button:hover {
    /* background-color: transparent; */
}

button:focus {
    box-shadow: none;
}
