@import url("../../base16.css");

* {
    transition: all 0.3s ease;
    font-size: 13px;
    font-weight: 700;
    border-radius: 0px;
    font-family: "Rethink Sans";
}

window#waybar {
    color: @foreground;
    background: alpha(@background, 0.8);
    border-radius: 35px;
    border: 1px solid alpha(white, 0.1);
}

menu {
    background: transparent;
    background-color: @background;
    color: @foreground;
    padding: 8px;
    border: 1px solid alpha(white, 0.1);
    border-radius: 6px;
}

menuitem {
    border-radius: 0px;
    padding: 7px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 13px;
    border: 0;
    color: @foreground;
    opacity: 0.65;
}

menuitem:hover {
    background: @background;
    color: @foreground;
    opacity: 1;
}

tooltip {
    padding: 2px;
    background: @background;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid alpha(white, 0.1);
    border-radius: 10px;
}
tooltip label {
    color: @foreground;
}

hr {
    border: none;
    border-top: 1px solid @white;
}

#clock,
#battery,
#network,
#bluetooth,
#cpu,
#memory,
#pulseaudio,
#pulseaudio.sink,
#pulseaudio.source,
#pulseaudio.microphone,
#custom-weather,
#custom-logo,
#custom-spotify,
#custom-expose,
#custom-notifications,
#workspaces button,
#tray {
    background: transparent;
    color: @foreground;
    text-shadow: 0px 0px 4px rgba(1, 1, 1, 0.3);
    margin-left: 18px;
    margin-right: 18px;
}

#taskbar button {
    background: transparent;
    color: @foreground;
    margin: 4px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
}

#tray {
    padding-right: 6px;
}

#network {
    font-size: 16px;
    margin-right: 20px;
    margin-left: 16px;
    margin-top: 0px;
}
#network:hover {
    color: @foreground;
}

#bluetooth {
    font-size: 15px;
    margin-right: 15px;
}
#bluetooth:hover {
    color: @foreground;
}

#clock {
    margin-left: 4px;
    margin-right: 26px;
    margin-top: 2px;
    font-size: 13px;
    font-weight: 700;
}

#pulseaudio {
    font-size: 15.75px;
    border: none;
}
#pulseaudio:hover {
    color: @foreground;
}

#pulseaudio.source-muted {
    padding-left: 4px;
    margin-right: 6px;
    padding-right: 4px;
}

#pulseaudio.microphone {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 14px;
    font-weight: bold;
}


#workspaces button label {
    font-size: 8px;
    margin: 0;
    margin-right: 8px;
    margin-left: 4px;
    padding: 0;
    color: @foreground;
}
#workspaces button {
    all: initial;
    padding: 0 0.2rem;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    min-width: 9px;
    border: 2px solid transparent;
    border-radius: 25px;
    font-size: 10px;
}
#workspaces button.empty {
    opacity: 0.5;
}
#workspaces button:hover {
    background-color: alpha(white, 0.1);
    color: white;
}
#workspaces button.active {
    background-color: white;
    color: black;
    background-color: alpha(white, 0.1);
    color: white;
}

#custom-logo {
    font-size: 16px;
    font-weight: 900;
    margin-right: 30px;
    margin-left: 25px;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 29px;
}
#custom-logo {
    color: @foreground;
}
#custom-logo:hover {
    color: @blue;
}


#custom-windowtitle {
  border-radius: 10px;
  min-width: 150px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 4px 0px;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-right: 18px;
  color: @foreground;
}

#custom-tray {
    font-size: 24px;
    color: alpha(@foreground, 0.75);
    margin-right: 10px;
    margin-left: 0px;
    font-size: 12px;
}

#custom-screenrecording-indicator {
    margin-top: 0;
    margin-right: 24px;
    font-size: 10px;
}

#custom-screenrecording-indicator {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: transparent;
}

#custom-screenrecording-indicator.active {
    color: #f7768e;
    animation-name: blink-recording;
    animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}

#custom-privacy-indicator {
    font-size: 9px;
    letter-spacing: 0px;
    margin: 6px 0px 4px 5px;
    border-radius: 8px;
}

#custom-update {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 14px;
}

.hidden {
    opacity: 0;
}
