@import url("base16.css");

* {
    transition: all 0.3s ease;
    font-size: 13px;
    font-weight: 700;
    font-family: "SF Pro Rounded";
}

window#waybar {
    color: @base05;
    background: alpha(@base01, 1);
    border-radius: 0;
}

tooltip {
    color: @base06;
    background: @base00;
    border: 1px solid @base02;
    border-radius: 8px;
}

menu {
    /* background: transparent; */
    background-color: @base02;
    border-radius: 12px;
    border: 1px solid @base00;
    color: @base05;
    padding: 8px;
}
menuitem {
    border-radius: 8px;
    padding: 7px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 8px;
}
menuitem:hover {
    background: @base01;
    color: @base05;
}

#clock,
#battery,
#network,
#bluetooth,
#cpu,
#memory,
#pulseaudio,
#pulseaudio.sink,
#pulseaudio.source,
#pulseaudio.microphone,
#custom-weather,
#custom-logo,
#custom-spotify,
#custom-expose,
#custom-notifications,
#workspaces button,
#tray {
    background: transparent;
    color: @base06;
    text-shadow: 0px 0px 4px rgba(1, 1, 1, 0.3);
    margin-left: 14px;
    margin-right: 14px;
}

#taskbar button {
    background: transparent;
    color: @base06;
    margin: 2px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
}

#tray {
    padding-right: 6px;
}

#network {
    font-size: 15px;
    margin-right: 15px;
    margin-left: 10px;
}
#network:hover {
    color: @base06;
}

#bluetooth {
    font-size: 15px;
    margin-right: 15px;
}
#bluetooth:hover {
    color: @base06;
}

#clock {
    margin-left: 4px;
    margin-right: 16px;
    font-size: 13px;
}

#pulseaudio {
    font-size: 15.75px;
    border: none;
}
#pulseaudio:hover {
    color: @base06;
}

#pulseaudio.sink-muted,
#pulseaudio.source-muted {
    color: @base08;
}

#workspaces {
    background: @base01;
    margin-right: 6px;
    padding: 0;
}
#workspaces:hover {
    border: 0px transparent;
}
#workspaces button {
    border-radius: 0px;
    border: 0px;
    color: @base05;
}
#workspaces button:hover {
    color: @base09;
}
#workspaces button.active {
    color: @base06;
}
#workspaces button.urgent {
    color: @base0A;
}

#custom-logo {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 29px;
}
#custom-logo {
    color: @base06;
}
#custom-logo:hover {
    color: @base0D;
}

#custom-power {
    margin-right: 24px;
    margin-left: 8px;
    font-size: 14px;
    color: @base06;
}
#custom-power:hover {
    color: @base0D;
}

#custom-expose {
    margin-left: 0px;
    margin-right: 12px;
    padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 13px;
}
#custom-expose:hover {
    color: @base09;
}

#custom-tray {
    font-size: 24px;
    color: @base04;
    margin-right: 10px;
    margin-left: 0px;
    font-size: 12px;
}

#custom-spotify {
    font-size: 13px;
    margin-left: 0px;
}
