@import url("base16.css");

* {
    transition: all 0.3s ease;
    font-size: 13px;
    font-weight: 700;
    font-family: "SF Pro Rounded";
}

window {
    color: @base05;
    background: @base00;
    border-radius: 0;
    border-top: 2px solid @base01;
}

tooltip {
    color: @base06;
    background: @base00;
    border: 1px solid @base02;
    border-radius: 8px;
}

menu {
    /* background: transparent; */
    background-color: @base02;
    border-radius: 12px;
    border: 1px solid @base00;
    color: @base05;
    padding: 8px;
}
menuitem {
    border-radius: 8px;
    padding: 7px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 8px;
}
menuitem:hover {
    background: @base01;
    color: @base05;
}

#clock,
#battery,
#network,
#bluetooth,
#cpu,
#memory,
#pulseaudio,
#pulseaudio.sink,
#pulseaudio.source,
#pulseaudio.microphone,
#custom-weather,
#custom-logo,
#custom-spotify,
#custom-expose,
#custom-notifications,
#custom-glorious,
#custom-pacman,
#custom-power,
#custom-systray,
#workspaces button,
#tray {
    background: transparent;
    color: @base05;
    text-shadow: 0px 0px 4px rgba(1, 1, 1, 0.3);
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 3px;
}

#taskbar button {
    background: transparent;
    color: @base06;
    margin: 2px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
}

/* ===[ SYSTEM TRAY ]=== */
#tray {
    margin-right: 6px;
}

/* ===[ BATTERY ]=== */
#battery {
    font-size: 13px;
    margin-right: 20px;
    margin-left: 10px;
}

/* ===[ NETWORK ]=== */
#network {
    font-size: 13px;
    margin-right: 8px;
    margin-left: 10px;
}
#network:hover {
    color: @base06;
}

/* ===[ BLUETOOTH ]=== */
#bluetooth {
    font-size: 13px;
    margin-right: 12px;
    margin-left: 10px;
}
#bluetooth:hover {
    color: @base02;
}

/* ===[ CLOCK ]=== */
#clock {
    margin-left: 10px;
    margin-right: 26px;
    font-size: 12px;
    font-weight: 600;
    color: @base05;
}

/* ===[ PULSEAUDIO ]=== */
#pulseaudio {
    font-size: 13.75px;
    border: none;
    margin-right: 10px;
    margin-bottom: 0;
}
#pulseaudio:hover {
    color: @base06;
}
#pulseaudio.sink-muted,
#pulseaudio.source-muted {
    color: @base08;
}

/* ===[ WORKSPACES ]=== */
#workspaces {
    background: transparent;
    margin: 3px 0px;
    padding: 15px 6px;
    margin-left: 10px;
    margin-top: 4px;
    border-radius: 16px;
    border: solid 0px @base03;
}
#workspaces button {
    min-width: 6px;
    min-height: 4px;
    padding: 0;
    margin: 0 4px;
    border-radius: 50%;
    background-color: @base03;
    color: @base03;
    transition: all 0.3s ease-in-out;
}
#workspaces button.active,
#workspaces button:hover {
    color: @base05;
    background-color: @base05;
    border-radius: 20px;
    min-width: 20px;
    transition: all 0.3s ease-in-out;
}
#workspaces button label {
    font-size: 0px;
}
#workspaces button.urgent {
    background-color: @base0A;
}

/* =========[ CUSTOM MODULES ]========= */

/* ===[ CAVA MODULE ]=== */
#cava {
    margin-left: 100px;
    margin-bottom: -8px;
    color: @base07;
    transition: all 0.3s ease;
}
#cava.silent {
    color: @base00;
    transition: all 0.3s ease;
}

/* ===[ SYSTEM TRAY GROUP ]=== */
#custom-tray {
    padding-left: 18px;
    color: @base02;
    margin-right: 11px;
    margin-left: 0px;
    margin-bottom: -1px;
    font-size: 10px;
}
#custom-tray:hover {
    color: @base03;
}

/* ===[ APPLICATIONS ICON ]=== */
#custom-logo {
    font-size: 38px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/home/bypass/.local/share/harmony/logo.svg");
    margin: -2px -1px -5px 16px;
}

/* ===[ USER MENU ]=== */
#custom-power {
    margin-right: 16px;
    margin-left: 8px;
    margin-bottom: -1px;
    font-size: 12px;
    color: @base03;
}
#custom-power:hover {
    color: @base04;
}

/* ===[ SPOTIFY NOW PLAYING ]=== */
#custom-spotify {
    color: @base0B;
    font-size: 13px;
    margin-left: 14px;
}

/* ===[ GLORIOUS MODEL O- INDICATOR ]=== */
#custom-glorious {
    font-size: 12px;
    margin-left: 4px;
}
#custom-glorious:hover {
    color: @base06;
}

/* ===[ PACMAN UPDATE COUNTER ]=== */
#custom-pacman {
    color: @base0B;
    font-size: 18px;
    margin-bottom: 3px;
}
