@import url("base16.css");

* {
    font-family: "Google Sans Display Medium";
    transition: all 0.3s ease;
    font-size: 13.5px;
    font-weight: 700;
    border-radius: 8px;
}

window#waybar {
    color: @base05;
    background: @base00;
    border-top: 2px solid @base01;
    border-radius: 0;
}

tooltip {
    color: @base05;
    background: @base00;
    border: 2px solid @base02;
    border-radius: 8px;
    font-family: "ZedMono NFP ExtraBold";
}

menu {
    background: transparent;
    background-color: @base00;
    border-radius: 8px;
    border: 2px solid @base01;
    color: @base05;
    padding: 8px;
}
menuitem {
    border-radius: 4px;
    padding: 7px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 8px;
}
menuitem:hover {
    background: @base01;
    color: @base05;
}

hr {
    border: none;
    border-top: 1px solid @base02;
}

#clock,
#battery,
#network,
#bluetooth,
#cpu,
#memory,
#pulseaudio,
#pulseaudio.microphone,
#custom-weather,
#custom-logo,
#custom-spotify,
#custom-expose,
#custom-notifications,
#workspaces button,
#tray {
    border-radius: 4px;
    background: @base01;
    color: @base05;
    margin: 3px;
    margin-top: 7px;
    margin-bottom: 6px;
    padding: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#tray {
    padding-right: 12px;
}

#network {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: 0;
    padding-right: 6px;
    padding-left: 13px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 15px;
    font-family: "ZedMono NFP ExtraBold";
}

#bluetooth {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 15px;
    font-family: "ZedMono NFP ExtraBold";
}

#clock {
    padding-top: 1px;
    font-size: 13px;
}

#pulseaudio {
    min-width: 52px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 12.75px;
}

#pulseaudio.microphone {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#workspaces {
    background: @base01;
    margin-top: 7px;
    margin-bottom: 6px;
    margin-right: 0;
    border-radius: 4px;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 0px;
}
#workspaces:hover {
    border: 0px transparent;
}
#workspaces button {
    border-radius: 0px;
    border: 0px;
    color: @base05;
    margin: 6px;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 12px;
    padding-right: 12px;
}
#workspaces button:hover {
    color: @base0D;
}
#workspaces button.active {
    color: @base0D;
}
#workspaces button.urgent {
    color: @base0A;
}

#taskbar button {
    padding: 8px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    margin-top: 7px;
    border-radius: 4px;
}
#taskbar button.active {
    background-color: @base02;
}

#custom-logo {
    margin: 8px;
    font-size: 21.5px;
    background-color: @base00;
    border: 2px solid @base00;
    color: @base0D;
    margin-bottom: 5px;
    font-family: "ZedMono NFP ExtraBold";
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#custom-logo:hover {
    color: @base05;
}

#custom-power {
    margin-right: 10px;
    margin-left: 4px;
    font-family: "ZedMono NFP ExtraBold";
    font-size: 18px;
    color: @base02;
}
#custom-power:hover {
    color: @base0D;
}

#custom-expose {
    margin-left: 0px;
    margin-right: 12px;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 13px;
}
#custom-expose:hover {
    color: @base0D;
}

#custom-tray {
    font-size: 24px;
    color: @base02;
    margin-right: 6px;
    margin-left: 6px;
    font-family: "ZedMono NFP ExtraBold";
    font-size: 18px;
}

#custom-spotify {
    font-size: 16px;
    margin-left: 0px;
}
