@import "../omarchy/current/theme/waybar.css";

* {
    font-family: "Dank Mono";
    background: transparent;
    min-height: 0;
    font-weight: bold;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

#waybar {
    background-color: alpha(@background, 1);
    color: @foreground;
    border-radius: 0px;
    border: 0px solid alpha(@foreground, 0.15);
    border-bottom-width: 1px;
}

menu {
    background: transparent;
    background-color: @background;
    color: @foreground;
    padding: 8px;
    border: 2px solid alpha(@foreground, 0.64);
    border-radius: 6px;
}

menuitem {
    border-radius: 0px;
    padding: 7px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 13px;
    border: 0;
    color: @foreground;
    opacity: 0.65;
}

menuitem:hover {
    background: @background;
    color: @foreground;
    opacity: 1;
}

tooltip {
    padding: 2px;
    background: @background;
    font-size: 13px;
    border: 2px solid alpha(@foreground, 0.15);
    border-radius: 10px;
}
tooltip label {
    color: @foreground;
}

#taskbar button {
    background: transparent;
    margin: 4px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
}

#workspaces button label {
     font-weight: 900;
     font-size: 20px;
     margin-top: 1px;
 }
 #workspaces button.active label {
     font-size: 12px;
     margin-top: -1px;
     margin-left: 4px;
     margin-right: 5px;
     color: @foreground;
 }
#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}
#workspaces button.empty {
  opacity: 0.4;
}
#workspaces button label {
    transition: color 0.2s ease-in-out;
    color: alpha(#F5E0A4, 1.0);
}
#workspaces button.empty label {
    color: @foreground;
}
#workspaces button:hover label {
    color: alpha(#81AAD3, 1.0);
}


#workspaces button,
#clock,
#custom-spotify {
    margin-top: 1px;
    margin-bottom: -1px;
    font-size: 12.75px;
    color: @foreground;
    font-weight: bold;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#idle_inhibitor,
#pulseaudio,
#pulseaudio.microphone,
#custom-harmony,
#custom-glorious,
#custom-theme-selector,
#custom-weather,
#custom-screenrecording,
#custom-screenrecording-indicator,
#custom-update,
#custom-spotify-controls-prev,
#custom-spotify-controls-next {
    min-width: 12px;
    margin: 0 8px;
    font-size: 12px;
    font-weight: 800;
}

#pulseaudio.microphone {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 11px;
    font-weight: 900;
}

#idle_inhibitor {
    font-size: 12px;
    margin-left: 0px;
    margin-right: 8px;
}

#cpu {
    font-size: 13px;
    font-weight: 900;
    margin-left: 10px;
}

#clock {
    margin-right: 1rem;
    margin-left: 9px;
}

#custom-harmony {
    font-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/home/bypass/.config/omarchy/current/theme/waybar-logo.png");
    margin: -3px 8px -3px .5rem; /* top right bottom left */
}

#custom-theme-selector {
    font-size: 13px;
    margin-right: 8px;
}

#custom-glorious {
    font-size: 11px;
    margin-left: 8px;
}

#custom-spotify {
    margin-left: 1rem;
}

#custom-expand-icon {
    margin-right: 0.5rem;
    font-size: 11px;
}

#custom-update {
    font-size: 10px;
    font-weight: 800;
}

#custom-screenrecording-indicator {
    margin-top: 0;
    margin-right: 14px;
    font-size: 10px;
}

.hidden {
    opacity: 0;
}

#custom-screenrecording-indicator {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: transparent;
}

#custom-screenrecording-indicator.active {
    color: #f7768e;
    animation-name: blink-recording;
    animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}
