/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #181515FF;
    background-alt: #221e1eFF;
    foreground:     #b6a8a5FF;
    selected:       #423939FF;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
    border-color:   #433939FF;
}
