/**
 *
 * Theme Author: @bypass_
 * Github: imbypass
 * Colors: Omarchy Void (Port)
 * Colors Author: vyrx-dev
 *
 **/

* {
    background:     #05010cFF;
    background-alt: #0c041aFF;
    foreground:     #c7cac2FF;
    selected:       #251442FF;
    active:         #ddccffFF;
    urgent:         #f07178FF;
    border-color:   #251442FF;
}