@import url("./colors.css");

* {
    all: unset;
    font-size: 13px;
    font-family: "Product Sans Black";
    transition: 75ms;
}

.floating-notifications.background .notification-row .notification-background {
    border-radius: 12.6px;
    margin: 18px;
    background-color: @base00;
    color: @base05;
    padding: 0;
    margin-bottom: 24px;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification {
    padding: 3px;
    padding-left: 6px;
    border-radius: 12.6px;
    border: 2px solid @base02;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification.critical {
    border: 2px solid @base08;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    .notification-content {
    margin: 7px;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    .notification-content
    .summary {
    color: @base05;
    margin-left: 5px;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    .notification-content
    .time {
    color: @base04;
    font-size: 0.8em;
    margin-top: 5px;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    .notification-content
    .body {
    color: @base05;
    margin-left: 5px;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > * {
    min-height: 3.4em;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action {
    border-radius: 7px;
    color: @base05;
    background-color: @base01;
    margin: 7px;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:hover {
    background-color: @base01;
    color: @base05;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:active {
    background-color: #74c7ec;
    color: @base05;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .close-button {
    margin: 7px;
    padding: 2px;
    border-radius: 6.3px;
    color: @base00;
    background-color: @base03;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .close-button:hover {
    background-color: @base08;
    color: @base00;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .close-button:active {
    background-color: @base05;
    color: @base00;
}

.control-center {
    border-radius: 12.6px;
    margin: 4px;
    background-color: @base00;
    border: 2px solid @base02;
    color: @base05;
    padding: 14px;
}

.control-center .widget-title > label {
    color: @base05;
    font-size: 1.3em;
}

.control-center .widget-title button {
    border-radius: 7px;
    color: @base05;
    background-color: @base01;
    padding: 8px;
}

.control-center .widget-title button:hover {
    background-color: @base03;
    color: @base05;
}

.control-center .widget-title button:active {
    background-color: @base0D;
    color: @base00;
}

.control-center .notification-row .notification-background {
    border-radius: 7px;
    color: @base05;
    background-color: @base01;
    margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
    padding: 4px;
    border-radius: 8px;
    border: 2px solid @base02;
}

.control-center
    .notification-row
    .notification-background
    .notification.critical {
}

.control-center
    .notification-row
    .notification-background
    .notification
    .notification-content {
    margin: 7px;
}

.control-center
    .notification-row
    .notification-background
    .notification
    .notification-content
    .summary {
    color: @base05;
    margin-left: 5px;
}

.control-center
    .notification-row
    .notification-background
    .notification
    .notification-content
    .time {
    color: @base04;
    font-size: 0.8em;
    margin-top: 5px;
}

.control-center
    .notification-row
    .notification-background
    .notification
    .notification-content
    .body {
    color: @base05;
    margin-left: 5px;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > * {
    min-height: 3.4em;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action {
    border-radius: 7px;
    color: @base05;
    background-color: @base00;
    margin: 7px;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:hover {
    background-color: @base01;
    color: @base05;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:active {
    background-color: #74c7ec;
    color: @base05;
}

.control-center .notification-row .notification-background .close-button {
    margin: 7px;
    padding: 2px;
    border-radius: 6.3px;
    color: @base00;
    background-color: @base03;
}

.close-button {
    border-radius: 6.3px;
}

.control-center .notification-row .notification-background .close-button:hover {
    background-color: @base08;
    color: @base00;
}

.control-center
    .notification-row
    .notification-background
    .close-button:active {
    background-color: @base03;
    color: @base00;
}

.control-center .notification-row .notification-background:hover {
    background-color: #7f849c;
    color: @base05;
}

.control-center .notification-row .notification-background:active {
    background-color: #74c7ec;
    color: @base05;
}

.notification.critical progress {
    background-color: @base03;
}

.notification.low progress,
.notification.normal progress {
    background-color: #89b4fa;
}

.control-center-dnd {
    margin-top: 5px;
    border-radius: 8px;
    background: @base01;
    border: 1px solid @base02;
}

.control-center-dnd:checked {
    background: @base01;
}

.control-center-dnd slider {
    background: @base02;
    border-radius: 8px;
}

.widget-dnd {
    margin: 0px;
    font-size: 1.1rem;
}

.widget-dnd > switch {
    font-size: initial;
    border-radius: 8px;
    background: @base01;
    border: 2px solid @base01;
}

.widget-dnd > switch:checked {
    background: @base01;
}

.widget-dnd > switch slider {
    background: @base00;
    border-radius: 8px;
}

.widget-mpris .widget-mpris-player {
    background: @base01;
    padding: 7px;
}

.widget-mpris .widget-mpris-title {
    font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
    font-size: 0.8rem;
}

.widget-menubar > box > .menu-button-bar > button > label {
    font-size: 3rem;
    padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
    color: @base03;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
    background: @base01;
}

.control-center .widget-label > label {
    color: @base05;
    font-size: 2rem;
}

.widget-buttons-grid {
    padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
    font-size: 2.5rem;
}

.widget-volume {
    padding-top: 1rem;
}

.widget-volume label {
    font-size: 1.5rem;
    color: #74c7ec;
}

.widget-volume trough highlight {
    background: #74c7ec;
}

.widget-backlight trough highlight {
    background: #f9e2af;
}

.widget-backlight label {
    font-size: 1.5rem;
    color: #f9e2af;
}

.widget-backlight .KB {
    padding-bottom: 1rem;
}

.image {
    padding-right: 0.5rem;
}
