* {
    border-radius: 4px;
}

window {
    background-color: #13161C;
    border: 1px solid #2F333B;
    color: #b2b5b3;
    border-radius: 6px;
}

list {
    background: none;
    border-radius: 6px;
}

/* SEARCH BAR */
entry {
    background: #0e1014;
    border: 2px solid #2F333B;
}

button {
    background: #0e1014;
    border: none;
}

button:hover {
    background-color: #2F333B;
}
