window {
    background-color: #151519;
    border: 2px solid #2a2a31;
    color: #b2b5b3;
    border-radius: 10px;
}

list {
    background: none;
    border-radius: 10px;
}

/* SEARCH BAR */
entry {
    background: #212127;
    border: 2px solid #2a2a31;
}

button {
    background: #212127;
    border: none;
}

button:hover {
    background-color: #2a2a31;
}