@import "../../../omarchy/current/theme/walker.css";

* {
    all: unset;
}

* {
    font-family: "Iosevka";
    font-size: 15.5px;
    color: @text;
}

scrollbar {
    opacity: 0;
}

.normal-icons {
    -gtk-icon-size: 18px;
}

.large-icons {
    -gtk-icon-size: 26px;
}

.box-wrapper {
    background: alpha(@base, 0.95);
    padding: 20px;
    border: 1px solid @border;
}

.preview-box {
}

.box {
}

.search-container {
    background: @base;
    padding: 10px;
}

.input placeholder {
    opacity: 0.5;
}

.input {
}

.input:focus,
.input:active {
    box-shadow: none;
    outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
}

child:selected .item-box * {
    color: @selected-text;
}

.item-box {
    padding-left: 14px;
}

.item-text-box {
    all: unset;
    padding: 10px 0;
}

.item-text {
    font-weight: normal;
}

.item-subtext {
    font-size: 0px;
    min-height: 0px;
    margin: 0px;
    padding: 0px;
    background: red;
}

.item-image {
    margin-right: 14px;
    -gtk-icon-transform: scale(0.9);
}

.current {
    font-style: italic;
}

.keybind-hints {
    background: @background;
    padding: 10px;
    margin-top: 10px;
}

.preview {
    background: @background;
}

@import "../../custom.css";
