/* start colors */
/*
*
* Base16 Marble Dark
* Author: Aylur
*
*/

@define-color base00 #151519;
@define-color base01 #212127;
@define-color base02 #2a2a31;
@define-color base03 #373741;
@define-color base04 #4f4f5e;
@define-color base05 #b2b5b3;
@define-color base06 #eaeaea;
@define-color base07 #e7e7e7;
@define-color base08 #e55f86;
@define-color base09 #ff985a;
@define-color base0A #ebff71;
@define-color base0B #00d787;
@define-color base0C #50e6e6;
@define-color base0D #50a4e7;
@define-color base0E #9076e7;
@define-color base0F #e781d6;
/* end colors */

@define-color surface-strongest @base00;
@define-color surface-strong @base01;
@define-color surface-moderate @base02;
@define-color surface-weak @base01;
@define-color surface-weakest @base02;

@define-color white-strongest rgb(255, 255, 255);
@define-color white-strong rgba(255, 255, 255, 0.87);
@define-color white-moderate rgba(255, 255, 255, 0.34);
@define-color white-weak rgba(255, 255, 255, 0.14);
@define-color white-weakest rgba(255, 255, 255, 0.06);

@define-color black-strongest rgb(0, 0, 0);
@define-color black-strong rgba(0, 0, 0, 0.87);
@define-color black-moderate rgba(0, 0, 0, 0.42);
@define-color black-weak rgba(0, 0, 0, 0.15);
@define-color black-weakest rgba(0, 0, 0, 0.06);

@define-color red-tint @base08;
@define-color red-normal @base08;
@define-color red-light @base08;
@define-color orange-tint @base09;
@define-color orange-normal @base09;
@define-color orange-light @base09;
@define-color yellow-normal @base0A;
@define-color yellow-light @base0A;
@define-color green-tint @base0B;
@define-color green-normal @base0B;
@define-color green-light @base0B;
@define-color cyan-normal @base0C;
@define-color cyan-light @base0C;
@define-color blue-normal @base0D;
@define-color blue-light @base0D;
@define-color purple-normal @base0E;
@define-color purple-light @base0E;
@define-color pink-normal @base0F;
@define-color pink-light @base0F;

@define-color accent_color @blue-light;
@define-color accent_bg_color @blue-normal;
@define-color accent_fg_color @white-strong;

@define-color destructive_color @red-light;
@define-color destructive_bg_color @red-tint;
@define-color destructive_fg_color @white-strong;

@define-color success_color @green-light;
@define-color success_bg_color @green-tint;
@define-color success_fg_color @white-strong;

@define-color warning_color @orange-light;
@define-color warning_bg_color @orange-tint;
@define-color warning_fg_color @white-strong;

@define-color error_color @red-light;
@define-color error_bg_color @red-tint;
@define-color error_fg_color @white-strong;

@define-color window_bg_color @surface-strong;
@define-color window_fg_color @white-strong;

@define-color view_bg_color @surface-strong;
@define-color view_fg_color @white-strong;

@define-color headerbar_bg_color @surface-strongest;
@define-color headerbar_fg_color @white-strong;
@define-color headerbar_border_color @surface-moderate;
@define-color headerbar_backdrop_color @surface-strongest;
@define-color headerbar_shade_color transparent;

@define-color card_bg_color @white-weakest;
@define-color card_fg_color @white-strong;
@define-color card_shade_color @white-weak;

@define-color dialog_bg_color @surface-weak;
@define-color dialog_fg_color @white-strong;

@define-color popover_bg_color @surface-weakest;
@define-color popover_fg_color @white-strong;

@define-color shade_color @black-strongest;
@define-color scrollbar_outline_color @white-weakest;

@define-color borders transparent;

@define-color sidebar_bg_color @surface-strongest;
@define-color sidebar_fg_color @white-strong;
@define-color sidebar_backdrop_color @surface-strongest;
@define-color sidebar_shade_color @surface-strongest;

/*
window contents {
    background: @surface-strongest;
    box-shadow: none;
}
*/

popover contents,
popover arrow {
    background: @surface-weakest;
}

.solid-csd {
    padding: 0;
}

headerbar {
    padding: 0.3em;
    padding-top: calc(0.3em + 3px);
}
