:root {
    /* start colors */
    --base00: #160d20;
    --base01: #1e132b;
    --base02: #241733;
    --base03: #363638;
    --base04: #4d4d4f;
    --base05: #b2b5b3;
    --base06: #eaeaea;
    --base07: #e7e7e7;
    --base08: #f7768e;
    --base09: #eda987;
    --base0A: #e0af68;
    --base0B: #9ece6a;
    --base0C: #4abaaf;
    --base0D: #7aa2f7;
    --base0E: #bb9af7;
    --base0F: #9a7ecc;
    /* end colors */
}
