:root {
    /* start colors */
    --base00: #181515;
    --base01: #221e1e;
    --base02: #423939;
    --base03: #6d5f5f;
    --base04: #978787;
    --base05: #b6a8a5;
    --base06: #f4e6d2;
    --base07: #f3ede4;
    --base08: #ca3f3f;
    --base09: #e46a3a;
    --base0A: #e39c45;
    --base0B: #989f56;
    --base0C: #629386;
    --base0D: #4a5a8d;
    --base0E: #9f569a;
    --base0F: #c45497;
    /* end colors */
}
