/* base16_firefox - userContent */

:root {
    /* start colors */
--base00: #07090d;
--base01: #090b11;
--base02: #121520;
--base03: #475070;
--base04: #5f7299;
--base05: #acb0d0;
--base06: #bdc0d0;
--base07: #fefefe;
--base08: #f7768e;
--base09: #eda987;
--base0A: #e0af68;
--base0B: #9ece6a;
--base0C: #4abaaf;
--base0D: #7aa2f7;
--base0E: #bb9af7;
--base0F: #9a7ecc;
    /* end colors */

    --newtab-background-color: var(--base01) !important;
    --newtab-background-color-secondary: var(--base02) !important;
    --newtab-text-primary-color: var(--base05) !important;
    --newtab-text-secondary-text: var(--base04) !important;
    --newtab-wallpaper-color: var(--base01) !important;
}

body {
    border: none;
}

.logo-and-wordmark {
    display: none !important;
}
.search-inner-wrapper {
    margin-top: 10% !important;
}
