/* base16_firefox - userContent */

:root {
    /* start colors */
--base00: #181515;
--base01: #221e1e;
--base02: #423939;
--base03: #6d5f5f;
--base04: #978787;
--base05: #b6a8a5;
--base06: #f4e6d2;
--base07: #f3ede4;
--base08: #ca3f3f;
--base09: #e46a3a;
--base0A: #e39c45;
--base0B: #989f56;
--base0C: #629386;
--base0D: #4a5a8d;
--base0E: #9f569a;
--base0F: #c45497;
    /* end colors */

    --newtab-background-color: var(--base01) !important;
    --newtab-background-color-secondary: var(--base02) !important;
    --newtab-text-primary-color: var(--base05) !important;
    --newtab-text-secondary-text: var(--base04) !important;
    --newtab-wallpaper-color: var(--base01) !important;
    --color-accent-primary-active: var(--base0D) !important;
    --color-accent-primary-hover: var(--base0D) !important;
    --color-accent-primary: var(--base0D) !important;
    --focus-outline-color: var(--base00) !important;
    --icon-color-critical: var(--base08) !important;
    --icon-color-information: var(--base0D) !important;
    --icon-color-success: var(--base0B) !important;
    --icon-color-warning: var(--base0A) !important;
    --outline-color-error: var(--base08) !important;
    --tab-block-margin: 0 !important;
    --tab-border-radius: 0 !important;
    --text-color-error: var(--base08) !important;
    --toolbar-field-border-color: var(--base00) !important;
    --toolbar-field-focus-background-color: var(--base02) !important;
    --toolbar-field-focus-border-color: var(--base00) !important;
    --toolbarbutton-border-radius: 6px !important;
    --in-content-page-background: var(--base01) !important;
    --input-text-background-color: var(--base02) !important;
}

body {
    border: none;
}

.logo-and-wordmark {
    display: none !important;
}
.search-inner-wrapper {
    margin-top: 10% !important;
}
