/* base16_firefox - userContent */

:root {
    /* start colors */
--base00: #1a1515;
--base01: #2d2424;
--base02: #453636;
--base03: #725a5a;
--base04: #9c8181;
--base05: #dcc9bc;
--base06: #ffe9c7;
--base07: #faeedc;
--base08: #cf223e;
--base09: #f07342;
--base0A: #e39c45;
--base0B: #959a6b;
--base0C: #768f80;
--base0D: #614f76;
--base0E: #7b3d79;
--base0F: #ae3f82;
    /* end colors */

    --newtab-background-color: var(--base01) !important;
    --newtab-background-color-secondary: var(--base02) !important;
    --newtab-text-primary-color: var(--base05) !important;
    --newtab-text-secondary-text: var(--base04) !important;
    --newtab-wallpaper-color: var(--base01) !important;
}

body {
    border: none;
}
