@define-color base00 #121212;
@define-color base01 #181818;
@define-color base02 #303030;
@define-color base03 #505050;
@define-color base04 #B0B0B0;
@define-color base05 #DCDFE0;
@define-color base06 #E0E0E0;
@define-color base07 #F5F5F5;
@define-color base08 #D34D55;
@define-color base09 #E0896A;
@define-color base0A #FFEE1F;
@define-color base0B #42be65;
@define-color base0C #3ddbd9;
@define-color base0D #33b1ff;
@define-color base0E #be95ff;
@define-color base0F #ee5396;

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
    all: unset;
}

#window {
    color: @base05;
}

#box {
    border-radius: 6px;
    background: @base00;
    padding: 32px;
    border: 2px solid @base02;
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.82),
        0px 1px 1px rgba(0, 0, 0, 0.82);
}

#search {
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.1),
        0 1px 1px rgba(0, 0, 0, 0.22);
    background: @base01;
    border: 2px solid @base02;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 16px;
}

#prompt {
    margin-left: 4px;
    margin-right: 12px;
    color: @base05;
    opacity: 0.2;
}

#clear {
    color: @base05;
    opacity: 0.8;
}

#password,
#input,
#typeahead {
    border-radius: 2px;
}

#input {
    background: none;
}

#password {
}

#spinner {
    padding: 8px;
}

#typeahead {
    color: @base05;
    opacity: 0.8;
}

#input placeholder {
    opacity: 0.5;
}

#list {
}

child {
    padding: 12px;
    border-radius: 2px;
}

child:selected,
child:hover {
    background: @base01;
}

#item {
}

#icon {
}

#text {
}

#label {
    font-size: 0px;
}

#sub {
    font-size: 0.8em;
}
#sub:hover {
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
    color: @base0D;
}

.activation #text,
.activation #icon,
.activation #search {
    opacity: 0.5;
}

.aiItem {
    padding: 10px;
    border-radius: 2px;
    color: @base05;
    background: @base00;
}

.aiItem.user {
    padding-left: 0;
    padding-right: 0;
}

.aiItem.assistant {
    background: @base01;
}
