@define-color rosewater #b0d0f0;
@define-color flamingo #f2cdcd;
@define-color pink #c6b6ee;
@define-color mauve #cba6f7;
@define-color red #cf6a4c;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #fad07a;
@define-color green #99ad6a;
@define-color teal #668799;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #8197bf;
@define-color lavender #b4befe;
@define-color text #e8e8d3;
@define-color subtext-1 #e8e8d3;
@define-color subtext-0 #a6adc8;
@define-color overlay-2 #9399b2;
@define-color overlay-1 #7f849c;
@define-color overlay-0 #6c7086;
@define-color surface-2 #888888;
@define-color surface-1 #454545;
@define-color surface-0 #313131;
@define-color base #151515;
@define-color mantle #181818;
@define-color crust #111111;

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
    all: unset;
}

#window {
    color: @text;
}

#box {
    border-radius: 6px;
    background: @mantle;
    padding: 32px;
    border: 2px solid @surface-0;
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.2);
}

#search {
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.1),
        0 1px 1px rgba(0, 0, 0, 0.22);
    background: @base;
    border: 2px solid @surface-0;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
}

#prompt {
    margin-left: 4px;
    margin-right: 12px;
    color: @text;
    opacity: 0.2;
}

#clear {
    color: @text;
    opacity: 0.8;
}

#password,
#input,
#typeahead {
    border-radius: 2px;
}

#input {
    background: none;
}

#password {
}

#spinner {
    padding: 8px;
}

#typeahead {
    color: @text;
    opacity: 0.8;
}

#input placeholder {
    opacity: 0.5;
}

#list {
}

child {
    padding: 12px;
    border-radius: 2px;
}

child:selected,
child:hover {
    background: @base;
}

#item {
}

#icon {
    margin-right: 8px;
}

#text {
}

#label {
    font-weight: 500;
}

#sub {
    font-size: 0.8em;
}
#sub:hover {
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
    color: @blue;
}

.activation #text,
.activation #icon,
.activation #search {
    opacity: 0.5;
}

.aiItem {
    padding: 10px;
    border-radius: 2px;
    color: @text;
    background: @mantle;
}

.aiItem.user {
    padding-left: 0;
    padding-right: 0;
}

.aiItem.assistant {
    background: @base;
}
