.bar {
    padding: 0;
    background-color: $base00;
    color: $base05;
    padding-left: 4px;
    padding-right: 4px;
    border-right: 1px solid $base00;
}

.harmony-icon {
    font-size: 4rem;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: -0.25rem;
}
