.bar {
    padding: 0;
    background-color: $base00;
    color: $base05;
    padding-left: 0px;
    padding-right: 1px;
}

.harmony-icon {
    font-size: 4rem;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: -0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.4rem;
}
