.clock-minutes {
    font-weight: 900;
    color: $taskbar_accent_color;
}
.clock {
    padding: 0;
    font-size: 1.4rem;
    margin: 0.1rem;
    margin-top: -0.5rem;
    font-weight: 300;
    color: $base05;
}
