# Base16 {{scheme-name}} - fish color config
# {{scheme-author}}

fish_color_normal {{base05-hex}}
fish_color_command {{base0d-hex}}
fish_color_keyword {{base0c-hex}}
fish_color_quote {{base09-hex}}
fish_color_redirection {{base0b-hex}}
fish_color_end {{base04-hex}}
fish_color_error {{base08-hex}}
fish_color_param {{base0a-hex}}
fish_color_comment {{base04-hex}}
fish_color_selection --reverse
fish_color_operator {{base05-hex}}
fish_color_escape {{base0b-hex}}
fish_color_autosuggestion {{base04-hex}}
fish_color_cwd {{base0a-hex}}
fish_color_user {{base09-hex}}
fish_color_host {{base0c-hex}}
fish_color_host_remote {{base0d-hex}}
fish_color_cancel {{base05-hex}}
fish_color_search_match --background={{base00-hex}}
fish_color_valid_path

fish_pager_color_progress {{base0a-hex}}
fish_pager_color_background --background={{base01-hex}}
fish_pager_color_prefix {{base0c-hex}}
fish_pager_color_completion {{base04-hex}}
fish_pager_color_description {{base04-hex}}
fish_pager_color_secondary_background
fish_pager_color_secondary_prefix
fish_pager_color_secondary_completion
fish_pager_color_secondary_description
fish_pager_color_selected_background --background={{base02-hex}}
fish_pager_color_selected_prefix {{base0c-hex}}
fish_pager_color_selected_completion {{base05-hex}}
fish_pager_color_selected_description {{base05-hex}}
