#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Plex
MimeType=x-scheme-handler/web+wootwoot
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app="https://app.plex.tv/" --no-title-bar %U
Icon=tv.plex.PlexDesktop
StartupWMClass=plex
GenericName=Watch Your Content
Comment=Self-Hosted Movies and TV Shows
