@import url("../../base16.css");
@import "../../../omarchy/current/theme/waybar.css";

* {
    font-weight: 600;
    font-size: 12.5px;
    font-family: "Iosevka NFP";
}

window {
    color: @foreground;
    background: @background;
    border-radius: 0;
    border: 0;
}

tooltip {
    color: @foreground;
    background: @background;
    border: 1px solid alpha(white, 0.2);
    border-radius: 0;
    padding: 0;
}

menu {
    background-color: @background;
    border-radius: 12px;
    border: 1px solid @background;
    color: @base05;
    padding: 8px;
}
menuitem {
    border-radius: 0;
    padding: 7px;
    padding-left: 2px;
    padding-right: 2px;
}
menuitem:hover {
    background: @base01;
    color: @base05;
}

#clock #pulseaudio,
#custom-glorious,
#workspaces button {
    background: transparent;
    color: @foreground;
    margin-left: 12px;
    margin-right: 12px;
}

#clock {
    color: @foreground;
    margin-right: 12px;
    margin-left: 6px;
}

#pulseaudio {
    border: none;
    color: @foreground;
}

#custom-glorious {
    margin-right: 8px;
    margin-left: 8px;
}

#workspaces {
    padding: 0;
    color: white;
}
#workspaces button {
    border-radius: 0px;
    border: 0px;
    color: white;
    padding: 0 7px 0 7px;
    margin: 0;
}
#workspaces button:hover {
    color: @background;
    background-color: @foreground;
}
#workspaces button.active {
    color: @background;
    background-color: @foreground;
}
#workspaces button.urgent {
    color: @red;
}
