use_nerdfont = true
flip_status_indicators = true
notify = true
library_tabs = ["tracks", "artists", "browse"]
hide_display_names = false
statusbar_format = "%title - %artists"

[track_format]
left = "%title - %artists"
center = "%album"
right = "%saved %duration"

[keybindings]
"Space"="playpause"

[theme]
background = "#{{base00-hex}}"
primary = "#{{base05-hex}}"
secondary = "#{{base03-hex}}"
title = "#{{base0D-hex}}"
playing = "#{{base0D-hex}}"
playing_selected = "#{{base0D-hex}}"
playing_bg = "#{{base00-hex}}"
highlight = "#{{base05-hex}}"
highlight_bg = "#{{base01-hex}}"
error = "#{{base01-hex}}"
error_bg = "#{{base08-hex}}"
statusbar = "#{{base0D-hex}}"
statusbar_progress = "#{{base0D-hex}}"
statusbar_bg = "#{{base00-hex}}"
cmdline = "#{{base05-hex}}"
cmdline_bg = "#{{base00-hex}}"
search_match = "#{{base0D-hex}}"
