# Base16 {{scheme-name}} - foot color config
# {{scheme-author}}

[main]
font=ZedMono Nerd Font Propo:size=12:weight=medium:fontfeatures=dlig ss05 liga
term=xterm-256color
pad=20x5 center
bold-text-in-bright=palette-based

[cursor]
color={{base01-hex}} {{base06-hex}}

[colors]
foreground={{base05-hex}}
background={{base00-hex}}
regular0={{base03-hex}}
regular1={{base08-hex}}
regular2={{base0b-hex}}
regular3={{base0a-hex}}
regular4={{base0d-hex}}
regular5={{base0e-hex}}
regular6={{base0c-hex}}
regular7={{base07-hex}}
bright0={{base04-hex}}
bright1={{base08-hex}}
bright2={{base0b-hex}}
bright3={{base0a-hex}}
bright4={{base0d-hex}}
bright5={{base0e-hex}}
bright6={{base0c-hex}}
bright7={{base07-hex}}
16={{base09-hex}}
17={{base06-hex}}
selection-foreground={{base05-hex}}
selection-background={{base01-hex}}
search-box-no-match={{base01-hex}} {{base08-hex}}
search-box-match={{base05-hex}} {{base02-hex}}
jump-labels={{base01-hex}} {{base09-hex}}
urls={{base0d-hex}}
