@import url("base16/colors.css");

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
    all: unset;
}

#window {
    color: @base05;
}

#box {
    margin-left: 4px;
    border-radius: 10px;
    background: @base00;
    padding: 8px;
    border: 2px solid @base02;
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.2);
}

#search {
    background: @base02;
    border: 2px solid @base02;
    border-radius: 6px;
    padding: 4px;
    margin: 4px;
}

#prompt {
    margin-left: 4px;
    margin-right: 12px;
    color: @base05;
    opacity: 0.2;
}

#clear {
    color: @base05;
    opacity: 0.8;
}

#password,
#input,
#typeahead {
    border-radius: 2px;
}

#input {
    background: none;
    font-weight: 600;
}

#spinner {
    padding: 8px;
}

#typeahead {
    color: @base05;
    opacity: 0.8;
}

#input placeholder {
    opacity: 0.5;
    color: @base05;
}

#list {
}

child {
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 6px;

    padding: 5px;
    margin-left: 4px;
    margin-top: 3px;
    margin-right: 4px;
    margin-bottom: 3px;
    border-radius: 6px;
}

child:selected,
child:hover {
    background: @base09;
    color: @base00;
}

#icon {
    margin-right: 12px;
    margin-left: 6px;
}

#label {
    font-size: 14px;
    font-weight: 600;
}

#sub {
    font-size: 0;
}

.activation #activationlabel {
    color: @base0D;
}

.activation #text,
.activation #icon,
.activation #search {
    opacity: 0.5;
}
