/* start flavours */
@define-color base00 #07090d;
@define-color base01 #090b11;
@define-color base02 #121520;
@define-color base03 #475070;
@define-color base04 #5f7299;
@define-color base05 #acb0d0;
@define-color base06 #bdc0d0;
@define-color base07 #fefefe;
@define-color base08 #f7768e;
@define-color base09 #eda987;
@define-color base0A #e0af68;
@define-color base0B #9ece6a;
@define-color base0C #4abaaf;
@define-color base0D #7aa2f7;
@define-color base0E #bb9af7;
@define-color base0F #9a7ecc;
/* end flavours */
