@import url("base16/colors.css");

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
    all: unset;
}

#window {
    color: @base05;
}

#box {
    border-radius: 10px;
    background: @base00;
    padding: 32px;
    border: 2px solid @base02;
    /*box-shadow:
        0px 0px 5px rgba(0, 0, 0, 0.9),
        0px 0px 5px rgba(0, 0, 0, 0.9);*/
}

#search {
    background: @base02;
    border: 2px solid @base02;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 16px;
}

#prompt {
    margin-left: 4px;
    margin-right: 12px;
    color: @base05;
    opacity: 0.2;
}

#clear {
    color: @base05;
    opacity: 0.8;
}

#password,
#input,
#typeahead {
    border-radius: 8px;
}

#input {
    background: none;
    font-weight: 600;
}

#spinner {
    padding: 8px;
}

#typeahead {
    color: @base05;
    opacity: 0.8;
}

#input placeholder {
    opacity: 0.5;
}

child {
    padding: 10px;
    border-radius: 8px;
}

child:selected,
child:hover {
    background: @base01;
    color: @base05;
}

#icon {
    margin-right: 12px;
}

#label {
    font-size: 14px;
    font-weight: 500;
}

#sub {
    font-size: 0.925em;
}

.activation #activationlabel {
    color: @base0D;
}

.activation #text,
.activation #icon,
.activation #search {
    opacity: 0.5;
}

.aiItem {
    padding: 10px;
    border-radius: 8px;
    color: @base05;
    background: @base00;
}

.aiItem.user {
    padding-left: 0;
    padding-right: 0;
}

.aiItem.assistant {
    background: @base01;
}
