/**
* @name base16
* @author https://github.com/imbypass
* @version 1.0.0
* @description base16 theme for Vencord
**/

:root {
    --base00: #151515;
    --base01: #202020;
    --base02: #303030;
    --base03: #505050;
    --base04: #b0b0b0;
    --base05: #d0d0d0;
    --base06: #e0e0e0;
    --base07: #f5f5f5;
    --base08: #cf6a4c;
    --base09: #eda987;
    --base0A: #ddb26f;
    --base0B: #acc267;
    --base0C: #12cfc0;
    --base0D: #6fc2ef;
    --base0E: #e1a3ee;
    --base0F: #deaf8f;
}

.theme-light,
.theme-dark {
    --font-primary: var(--font, "gg sans");
    --font-display: var(--font, "gg sans");
    --font-headline: var(--font, "gg sans");
    --activity-card-background: var(--base01);
    --primary-630: var(--base00);
    --primary-660: var(--base00);
    --primary-800: var(--base00);
    --search-popout-option-fade: none;
    --bg-overlay-2: var(--base00);
    --bg-overlay-3: var(--base01);
    --home-background: var(--base00);
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base03);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --background-modifier-accent: var(--base02);
    --channeltextarea-background: var(--base01);
    --channels-default: var(--base04);
    --channel-icon: var(--base04);
    --control-brand-foreground-new: var(--base0D);
    --control-brand-foreground: var(--base04);
    --header-primary: var(--base04);
    --header-secondary: var(--base03);
    --input-background: var(--base01);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base05);
    --interactive-active: var(--base05);
    --interactive-muted: var(--base03);
    --mention-foreground: var(--base05);
    --mention-background: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
    --text-normal: var(--base05);
    --text-secondary: var(--base03);
    --text-muted: var(--base03);
    --text-link: var(--base04);
    --text-brand: var(--base07);
    --button-filled-brand-background: var(--base0D);
    --button-filled-brand-text: var(--base00);
    --button-positive-background: var(--base0B);
    --button-danger-background: var(--base08);
    --button-outline-positive-border: var(--base0B);
    --button-secondary-background: var(--base02);
    --bg-brand: var(--base03);
    --bg-mod-faint: var(--base02);
    --status-positive: var(--base0B);
    --text-positive: var(--base0B);
    --status-positive-background: var(--base0B);
    --status-positive-text: var(--base05);
    --status-negative: var(--base08);
    --text-negative: var(--base08);
    --status-warning: var(--base0A);
    --text-warning: var(--base0A);
    --status-danger: var(--base08);
    --status-success: var(--base0B);
    --menu-item-default-hover-bg: var(--base02);
    --menu-item-danger-hover-bg: var(--base08);
    --menu-item-danger-active-bg: var(--base08);
    --status-warning-background: var(--base03);
    --status-danger-background: var(--base08);
    --modal-background: var(--base01);
    --brand-260: var(--base0D);
    --brand-500: var(--base02);
    --brand-560: var(--base01);
    --white: var(--base05);
    --white-100: var(--base05);
    --white-200: var(--base05);
    --white-500: var(--base05);
    --green-360: var(--base0B);
    --red: var(--base08);
    --red-400: var(--base08);
    --red-460: var(--base08);
    --red-500: var(--base08);
    --red-630: var(--base08);
    --yellow-360: var(--base0A);
    --primary-300: var(--base05);
    --primary-630: var(--base01);
    --primary-130: var(--base05);
    --primary-500: var(--base02);
}

/*--- Forum Background Recolor ---*/
.container_f369db {
    background-color: var(--bg-overlay-2);
}

/*--- Summaries Tag Icon Recolor ---*/
.summariesBetaTag_cf58b5 {
    color: var(--base03);
}

div.folderIconWrapper__48112 {
    background-color: var(--base01) !important;
}

/*--- Voice Chat Action Icon Recolor ---*/
div[class^="actionButtons"] [class^="button"][class*="buttonColor_"],
div[class^="actionButtons"] [class^="button"] [class*="buttonColor_"] {
    background-color: var(--base02);
}

/* --- Checkboxes ON --- */
.checked__87bf1 {
    background-color: var(--base0B) !important;
}
path[fill^="rgba(35, 165, 90, 1)"] {
    fill: var(--base0B) !important;
}

.lockIcon__2666b {
    filter: grayscale(100%);
}

/*--- Status Icon Recolor ---*/
svg[fill^="#f23f43"],
rect[fill^="#f23f43"] {
    fill: var(--status-danger) !important;
}
svg[fill^="#f0b232"],
rect[fill^="#f0b232"] {
    fill: var(--status-warning) !important;
}
svg[fill^="#23a55a"],
rect[fill^="#23a55a"] {
    fill: var(--status-positive) !important;
}
svg[fill^="#80848e"],
rect[fill^="#80848e"] {
    fill: var(--base03) !important;
}

.callContainer_cb9592 {
    background-color: var(--base00);
}

.gradientContainer_bfe55a {
    background-image: var(--base00);
}

* {
    text-rendering: optimizeLegibility !important;
}

.hljs-attr,
.hljs-attribute,
.hljs-number,
.hljs-selector-class {
    color: var(--base06) !important;
}

.hljs-comment {
    color: var(--base04) !important;
}

.hljs-subst {
    color: var(--base0D) !important;
}

.hljs-selector-pseudo,
.hljs-section {
    color: var(--base0B) !important;
}

.hljs-keyword,
.hljs-variable {
    color: var(--base08) !important;
}

.hljs-meta {
    color: var(--base04) !important;
}

.hljs-built_in {
    color: var(--base09) !important;
}

.hljs-string {
    color: var(--base0B) !important;
}

.hljs-title {
    color: var(--base0E) !important;
}
