/**
* @name base16 (color palette)
* @author https://github.com/imbypass
* @version 1.0.0
* @description color palette for base16 (REQUIRED)
**/

/* ===[ JELLYBEANS DARK ]=== */
:root {
    --base00: #151515;
    --base01: #181818;
    --base02: #313131;
    --base03: #454545;
    --base04: #888888;
    --base05: #e8e8d3;
    --base06: #b0d0f0;
    --base07: #b4befe;
    --base08: #cf6a4c;
    --base09: #fab387;
    --base0A: #fad07a;
    --base0B: #99ad6a;
    --base0C: #668799;
    --base0D: #8197bf;
    --base0E: #cba6f7;
    --base0F: #f2cdcd;
}

/* ===[ CATPPUCCIN MOCHA ]=== */
/*
:root {
    --base00: #1e1e2e;
    --base01: #181825;
    --base02: #313244;
    --base03: #45475a;
    --base04: #585b70;
    --base05: #cdd6f4;
    --base06: #f5e0dc;
    --base07: #b4befe;
    --base08: #f38ba8;
    --base09: #fab387;
    --base0A: #f9e2af;
    --base0B: #a6e3a1;
    --base0C: #94e2d5;
    --base0D: #89b4fa;
    --base0E: #cba6f7;
    --base0F: #f2cdcd;
} */

/* ===[ TOKYO NIGHT DARK ]=== */
/* :root {
    --base00: #1a1b26;
    --base01: #16161e;
    --base02: #2f3549;
    --base03: #444b6a;
    --base04: #787c99;
    --base05: #a9b1d6;
    --base06: #cbccd1;
    --base07: #d5d6db;
    --base08: #c0caf5;
    --base09: #a9b1d6;
    --base0A: #0db9d7;
    --base0B: #9ece6a;
    --base0C: #b4f9f8;
    --base0D: #2ac3de;
    --base0E: #bb9af7;
    --base0F: #f7768e;
} */

/* ===[ SOLARIZED DARK ]=== */
/* :root {
    --base00: #002b36;
    --base01: #073642;
    --base02: #586e75;
    --base03: #657b83;
    --base04: #839496;
    --base05: #93a1a1;
    --base06: #eee8d5;
    --base07: #fdf6e3;
    --base08: #dc322f;
    --base09: #cb4b16;
    --base0A: #b58900;
    --base0B: #859900;
    --base0C: #2aa198;
    --base0D: #268bd2;
    --base0E: #6c71c4;
    --base0F: #d33682;
} */

/* ===[ ROSE PINE ]=== */
/* :root {
    --base00: #191724;
    --base01: #1f1d2e;
    --base02: #26233a;
    --base03: #6e6a86;
    --base04: #908caa;
    --base05: #e0def4;
    --base06: #e0def4;
    --base07: #524f67;
    --base08: #eb6f92;
    --base09: #f6c177;
    --base0A: #ebbcba;
    --base0B: #31748f;
    --base0C: #9ccfd8;
    --base0D: #c4a7e7;
    --base0E: #f6c177;
    --base0F: #524f67;
} */
