    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #131318;
        --color01: #131318;
        --color02: #131318;
        --color03: #e1e0ff;
        --color04: #e1e0f9;
        --color05: #e1e0f9;
        --color06: #e1e0f9;
        --color07: #e1e0f9;
        --color08: #ffb4ab;
        --color09: #565992;
        --color10: #565992;
        --color11: #bfc1ff;
        --color12: #c5c4dd;
        --color13: #bfc1ff;
        --color14: #e8b9d4;
        --color15: #565992;
    }
