    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #181515;
        --color01: #181515;
        --color02: #181515;
        --color03: #B6A8A5;
        --color04: #F4E6D2;
        --color05: #F4E6D2;
        --color06: #F4E6D2;
        --color07: #F4E6D2;
        --color08: #F4E6D2;
        --color09: #E39C45;
        --color10: #eab471;
        --color11: #989F56;
        --color12: #629386;
        --color13: #517894;
        --color14: #C45497;
        --color15: #E39C45;
    }
