    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #0f0f0f;
        --color01: #0f0f0f;
        --color02: #0f0f0f;
        --color03: #b4b4b4;
        --color04: #f4f4f4;
        --color05: #f4f4f4;
        --color06: #f4f4f4;
        --color07: #f4f4f4;
        --color08: #f38ba8;
        --color09: #f9e2af;
        --color10: #f9e2af;
        --color11: #a6e3a1;
        --color12: #94e2d5;
        --color13: #89b4fa;
        --color14: #f5c2e7;
        --color15: #f9e2af;
    }
