$base00: #0d0509;
$base01: #2e1622;
$base02: #452536;
$base03: #6b4659;
$base04: #856173;
$base05: #c7cac2;
$base06: #e1e3de;
$base07: #f6f3f4;
$base08: #ef6374;
$base09: #e85f6f;
$base0A: #f29b9a;
$base0B: #d4a882;
$base0C: #d1b399;
$base0D: #d9a56c;
$base0E: #e8c099;
$base0F: #f0eaed;