$base00: #05010c;
$base01: #0c041a;
$base02: #251442;
$base03: #422e66;
$base04: #6b578f;
$base05: #c7cac2;
$base06: #b5aafa;
$base07: #f1fff7;
$base08: #f07178;
$base09: #c2b8ff;
$base0A: #ddccff;
$base0B: #bb9af7;
$base0C: #b49ae6;
$base0D: #a6b8ff;
$base0E: #deccff;
$base0F: #c3aaf0;