* {
    all: unset;
    font-family: "SF Compact Display", sans-serif;
    transition: 0.15s all ease-in-out;
}

tooltip {
    background: $base00;
    border: 2px solid $base02;
    color: $base06;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.95rem;
}
