.notification-popup {
    font-family: "SF Compact Rounded";
    font-weight: 500;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 6px #000000ff;
    border: 2px solid $base02;
    margin: 0.5rem;
    min-width: 25rem;
    font-size: 0.95rem;

    & .notification-summary {
        margin-top: 0.2rem;
        font-size: 1.05rem;
        margin-bottom: 0.2rem;
        font-weight: 700;
    }

    & .notification-body {
        font-size: 0.95rem;
        font-weight: 500;
    }

    & .notification-close {
        background-color: $base01;
        color: $base04;
        border-radius: 4px;
        padding: 0.2rem;
        &:hover {
            background-color: $base02;
        }
    }

    & .notification-action {
        padding: 0.5rem;
        border-radius: 6px;
        background-color: $base01;
        &:hover {
            background-color: $base02;
        }
    }
}
.notification-popup:hover {
    opacity: 1;
}
.urgency-0 {
    & .notification-summary {
        font-size: 0.95rem;
        font-weight: 400;
    }

    & .notification-body {
        font-size: 0.85rem;
        font-weight: 300;
    }
}
.urgency-0,
.urgency-1 {
    background-color: $base00;
    color: $base05;
}
.urgency-2 {
    background-color: $base00;
    border: 2px solid $base08;
    color: $base08;

    & .notification-close {
        color: $base08;
        background-color: $base00;
        &:hover {
            color: $base00;
            background-color: $base08;
        }
    }
}
.notification-icon {
    margin-left: -2px;
    margin-top: 2px;
    border-radius: 8px;
}
